body {
    background-color: gainsboro;
}

.card {
    margin: 10% auto;
    background-color: white;
    width: min-content;
    border-radius: 3px;
    box-shadow: 0 0 25px gray;
}

.card button {
    margin-right: 5%;;
}

.content{
    margin: 5%;
    padding-bottom: 5%;
}